html { margin: 0px; height: 100%; width: 100%; }
body { margin: 0px; min-height: 100%; width: 100%; } 

.App {
    background: #8E2DE2 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Edit {
    cursor: pointer;
    color: black
}

.Edit:hover{
    color: blue
}

.Delete {
    cursor: pointer;
    color: black
}

.Delete:hover{
    color: red
}

.Reload {
    font-size: 60px;
    cursor: pointer;
    color: green;
}

.Reload:hover {
    color: red;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
