.shape {
    fill-opacity: .3;
}

.shape:hover {
    fill-opacity: .45;
    z-index: 100;
}

.scale {
    fill: #FAFAFA;
    fill-opacity: .3;
    stroke: #999;
    stroke-width: .2;
}

.axis {
    stroke: #555;
    stroke-width: .2;
}

.caption{
    font-size: 40;
    fill: #ffffff;
    font-weight: 400;
    font-family: 'Comfortaa';
}

.caption:hover {
    font-size: 80;
    fill: #00FFBB;
    font-weight: bold;
    cursor: pointer;
}